<!-- username: new FormControl("", [Validators.required]) as unknown as string,
firstName: new FormControl("", [Validators.required]) as unknown as string,
lastName: new FormControl("", [Validators.required]) as unknown as string,
email: new FormControl("", [Validators.required, Validators.email]) as unknown as string,
birthDate: new FormControl("", [Validators.required]) as unknown as string,
basicSalary: new FormControl(0, [Validators.required, Validators.pattern('^[0-9]+$')]) as unknown as number,
status: new FormControl("", [Validators.required]) as unknown as string,
group: new FormControl("", [Validators.required]) as unknown as string,
description: new FormControl("", [Validators.required]) as unknown as string -->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 font-roboto">
  <div class="container mx-auto min-h-screen">
    <div class="flex">
      <span class="text-3xl">Add New Employee</span>
    </div>
    <div class="mt-10 w-full">
      <form class="flex flex-col gap-y-3" [formGroup]="createForm">
        <kendo-floatinglabel text="First Name"> 
          <kendo-textbox 
            #email 
            placeholder="firstName" 
            formControlName="firstName" 
            required 
            showSuccessIcon="initial" 
            showErrorIcon="initial">
          </kendo-textbox>
          <kendo-formerror>
            <div *ngIf="createForm.get('firstName')?.invalid && 
            createForm.get('firstName')?.errors && 
            (createForm.get('firstName')?.dirty || createForm.get('firstName')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('firstName')?.hasError('required')">
                This first name field is required.
              </div>
            </div>
          </kendo-formerror>
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Last Name"> 
          <kendo-textbox 
            #email 
            placeholder="lastName" 
            formControlName="lastName" 
            required 
            showSuccessIcon="initial" 
            showErrorIcon="initial">
          </kendo-textbox>
          <kendo-formerror>
            <div *ngIf="createForm.get('lastName')?.invalid && 
            createForm.get('lastName')?.errors && 
            (createForm.get('lastName')?.dirty || createForm.get('lastName')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('lastName')?.hasError('required')">
                This last name field is required.
              </div>
            </div>
          </kendo-formerror>
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Username"> 
          <kendo-textbox 
            #email 
            placeholder="username" 
            formControlName="username" 
            required 
            showSuccessIcon="initial" 
            showErrorIcon="initial">
          </kendo-textbox>
          <kendo-formerror>
            <div *ngIf="createForm.get('username')?.invalid && 
            createForm.get('username')?.errors && 
            (createForm.get('username')?.dirty || createForm.get('username')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('username')?.hasError('required')">
                This username field is required.
              </div>
            </div>
          </kendo-formerror>
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Email"> 
          <kendo-textbox 
            #email 
            placeholder="email" 
            formControlName="email" 
            required 
            showSuccessIcon="initial" 
            showErrorIcon="initial">
          </kendo-textbox>
          <kendo-formerror>
            <div *ngIf="createForm.get('email')?.invalid && 
            createForm.get('email')?.errors && 
            (createForm.get('email')?.dirty || createForm.get('email')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('email')?.hasError('required')">
                This email field is required.
              </div>
            </div>
          </kendo-formerror>
        </kendo-floatinglabel>

        <kendo-formfield>
          <kendo-label text="Birth Of Date"> 
          </kendo-label>
          <kendo-datepicker 
            formControlName="birthDate">
          </kendo-datepicker>
          <kendo-formerror>
            <div *ngIf="createForm.get('birthDate')?.invalid && 
            createForm.get('birthDate')?.errors && 
            (createForm.get('birthDate')?.dirty || createForm.get('birthDate')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('birthDate')?.hasError('required')">
                This birth date field is required.
              </div>
              <div class="text-red-700 italic" *ngIf="createForm.get('birthDate')?.hasError('futureDate')">
                This field shouldn't exceed today.
              </div>
            </div>
          </kendo-formerror>
        </kendo-formfield>

        <kendo-floatinglabel text="Basic Salarry"> 
          <kendo-numerictextbox 
            formControlName="basicSalary">
          </kendo-numerictextbox>
          <kendo-formerror>
            <div *ngIf="createForm.get('birthDate')?.invalid && 
            createForm.get('basicSalary')?.errors && 
            (createForm.get('basicSalary')?.dirty || createForm.get('basicSalary')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('basicSalary')?.hasError('required')">
                This birth date field is required.
              </div>
              <div class="text-red-700 italic" *ngIf="createForm.get('basicSalary')?.hasError('pattern')">
                This field must follow required pattern
              </div>
            </div>
          </kendo-formerror>
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Group / Department"> 
          <kendo-dropdownlist 
            [data]="groups"
            formControlName="group">
          </kendo-dropdownlist>
          <kendo-formerror>
            <div *ngIf="createForm.get('group')?.invalid && 
            createForm.get('group')?.errors && 
            (createForm.get('group')?.dirty || createForm.get('group')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('group')?.hasError('required')">
                This group field is required.
              </div>
            </div>
          </kendo-formerror>
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Status"> 
          <kendo-dropdownlist 
            [data]="statuses"
            formControlName="status">
          </kendo-dropdownlist>
          <kendo-formerror>
            <div *ngIf="createForm.get('status')?.invalid && 
            createForm.get('status')?.errors && 
            (createForm.get('status')?.dirty || createForm.get('status')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('status')?.hasError('required')">
                This status field is required.
              </div>
            </div>
          </kendo-formerror>
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Description"> 
          <kendo-textarea 
            resizable="vertical"
            formControlName="description">
          </kendo-textarea>
          <kendo-formerror>
            <div *ngIf="createForm.get('description')?.invalid && 
            createForm.get('description')?.errors && 
            (createForm.get('description')?.dirty || createForm.get('description')?.touched)">
              <div class="text-red-700 italic" *ngIf="createForm.get('description')?.hasError('required')">
                This description field is required.
              </div>
            </div>
          </kendo-formerror>
        </kendo-floatinglabel>

        <div class="flex flex-row gap-x-3 mt-3">
          <button kendoButton themeColor="primary" (click)="onSubmitHandler($event)" [disabled]="createForm.invalid">
            Send Create Request
          </button>
          <button kendoButton (click)="onCancelHandler($event)">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>